<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
	<head>
		<meta charset="UTF-8">
		<title>PUPILife</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css"
			th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>
	<body>
		<header th:replace="~{/layouts/header :: header}"></header>
		<h1 class="text-center">Testimonios</h1>
		<div class="card mb-3 m-3 " th:each="test : ${testimonio}" style="max-width: 18rem; border: 1px solid #F7B5CD">
		 	  <div class="card-header" th:text="*{test.usuario}"></div>
			  <div class="card-body" >
			    <p class="card-text" th:text="*{test.comentario}"></p>
			  </div>
		</div>
		<a th:href="@{nuevo_testimonio}" >Dejar testimonio</a>
		<footer th:replace="~{/layouts/footer :: footer}"></footer>
	</body>
</html>